PORT=4000
HOST=0.0.0.0
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_NAME=proyecto_extension
DB_USER=postgres
DB_PASSWORD=tu_password

JWT_ACCESS_SECRET=cambiar_access_secret_largo
JWT_REFRESH_SECRET=cambiar_refresh_secret_largo
JWT_ACCESS_EXPIRES=8h
JWT_REFRESH_EXPIRES=7d
