{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card shadow-sm border-0 rounded-4">
                <div class="card-body p-4">

                    <h2 class="text-center mb-4">Iniciar sesión</h2>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            {{ form.identificador.label_tag }}
                            {{ form.identificador }}
                        </div>

                        <div class="mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>

                        <button type="submit" class="btn btn-primary w-100">
                            Entrar
                        </button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}